.fight-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.side {
  width: 48px;
  display: flex;
  justify-content: center;
}

.label {
  flex: 1;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
}


.fight-menu mat-icon { color: #111; }
.fight-menu button { background: #fff; border: 1px solid #ccc; }
