:host {
  display: block;
  flex-shrink: 0;
}

::ng-deep .domain {
  stroke: black;
}

::ng-deep .tick line {
  stroke: black;
}

::ng-deep .tick text {
  fill: black;
  font-size: 11px;
}


::ng-deep .grid .domain {
  stroke: none;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
