<div class="page">
  <div class="welcome-container">
    <h2>Welcome</h2>
  <p>
    <strong>MMARKOV</strong> provides probabilistic estimates of outcomes for UFC fights.
    This is achieved using Bayesian inference, Markov chains and quantitative modelling techniques.
    Our models leverage rich historical data, capture hierarchical relationships between fighter-specific capabilities and account for uncertainty.
    The result is a total of x well-calibrated estimates per fight, tailored for both standard and advanced prediction markets.
  </p>
    <span>
      Step into our octagon.
    </span>
  </div>
</div>
