.fight-card {
  position: relative;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 6px;
  margin: 4px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.3)
}

.expand-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;

  width: 32px;
  height: 32px;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4px);
}

.expand-button mat-icon {
  font-size: 14px;
  color: rgba(100, 100, 100, 0.7);
}

.fight-card:hover,
.fight-card:focus-within {
  cursor: pointer;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

mat-card-header {
  width: 100%;
  display: block;
}

mat-card-title {
  width: 100%;
  display: block;
}


.fighter-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  font-family: "UFCSans", sans-serif;
}

.fighter-name {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  width: fit-content;
}

.fighter-name.blue {
  justify-self: start;
  text-align: left;
}

.fighter-name.red {
  justify-self: end;
  text-align: right;
}



.fighters-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;                 /* touch */
  width: 100%;
  margin-bottom: 10px;
}

.fighters-images img {
  width: 100%;
  height: 120px;           /* controls size */
  object-fit: cover;
  display: block;         /* removes inline gap */
}


/* ===== SUBTITLE ===== */

mat-card-subtitle {
  color: rgba(100, 100, 100, 0.3);
  font-family: "UFCSans", sans-serif;
}

.weight-class {
  text-align: center;
  margin-top: 6px;
  font-size: 1rem;
}

mat-card-actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 0;
  padding: 0;
}


mat-card-actions a {
  width: 100%;
  min-width: 0;
  padding: 4px 0;
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(50, 50, 50);
  border: 1px solid rgb(100, 100, 100, 0.3);
  background-color: rgba(200, 200, 200, 0.3);
}


mat-card-actions a:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.fight-card mat-divider {
  margin: 0;
  height: 2px;
  border: none;
  background: linear-gradient(
    to right,
    #1976d2 0%,   /* blue */
    #1976d2 50%,
    #d32f2f 50%,  /* red */
    #d32f2f 100%
  );
}
