<mat-card class="fight-card">
  <mat-card-subtitle class="weight-class">
    <span *ngIf="fight.fighterBlue.gender === 'FEMALE'">
      WOMEN'S
    </span>
    {{ fight.weightClass.split('_').join(' ') }}
  </mat-card-subtitle>

  <mat-card-content>
    <div class="fighters-images">
      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterBlue.imageURL"
        [alt]="fight.fighterBlue.lastName"
      />

      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterRed.imageURL"
        [alt]="fight.fighterRed.lastName"
      />
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button (click)="openFight('network')">
      NETWORK
    </button>
    <button mat-button (click)="openFight('stats')">
      STATS
    </button>
    <button mat-button (click)="openFight('predictions')">
      PREDICTIONS
    </button>
    <button mat-button (click)="openFight('judging')">
      JUDGES
    </button>
  </mat-card-actions>
</mat-card>
