<mat-card
  class="fight-card"
  [routerLink]="['/fights', fight.fightId]"
  [state]="{ fighterNameBlue: fight.fighterBlue.lastName, fighterNameRed: fight.fighterRed.lastName }"
  [style.view-transition-name]="cardContainerTransition"
  (click)="$event.stopPropagation()"
>
  <mat-card-header>
    <mat-card-title>
      <div class="fighter-names">
        <div class="fighter-name blue" [style.view-transition-name]="fighterNameBlueTransition">
          {{ fight.fighterBlue.lastName }}
        </div>

        <div class="fighter-name red" [style.view-transition-name]="fighterNameRedTransition">
          {{ fight.fighterRed.lastName }}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-subtitle class="weight-class">
    <span *ngIf="fight.fighterBlue.gender === 'FEMALE'">
      WOMEN’S
    </span>
    {{ fight.weightClass.split('_').join(' ') }}
  </mat-card-subtitle>

  <mat-card-content>
    <div class="fighters-images">
      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterBlue.imageURL"
        [alt]="fight.fighterBlue.lastName"
      />

      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterRed.imageURL"
        [alt]="fight.fighterRed.lastName"
      />
    </div>
  </mat-card-content>

  <mat-divider [style.view-transition-name]="dividerTransition"></mat-divider>

  <mat-card-actions>
    <a
      mat-button
      [routerLink]="['/fights', fight.fightId, 'network']"
      [state]="{ fighterNameBlue: fight.fighterBlue.lastName, fighterNameRed: fight.fighterRed.lastName }"
      (click)="$event.stopPropagation()"
    >
      NETWORK
    </a>
    <a
      mat-button
      [routerLink]="['/fights', fight.fightId, 'stats']"
      [state]="{ fighterNameBlue: fight.fighterBlue.lastName, fighterNameRed: fight.fighterRed.lastName }"
      (click)="$event.stopPropagation()"
    >
      STATS
    </a>
    <a
      mat-button
      [routerLink]="['/fights', fight.fightId, 'predictions']"
      [state]="{ fighterNameBlue: fight.fighterBlue.lastName, fighterNameRed: fight.fighterRed.lastName }"
      (click)="$event.stopPropagation()"
    >
      PREDICTIONS
    </a>
    <a
      mat-button
      [routerLink]="['/fights', fight.fightId, 'judges']"
      [state]="{ fighterNameBlue: fight.fighterBlue.lastName, fighterNameRed: fight.fighterRed.lastName }"
      (click)="$event.stopPropagation()"
    >
      JUDGES
    </a>
  </mat-card-actions>
</mat-card>
