<mat-card
  class="fight-card"
  (click)="openFight()"
>
  <mat-card-header>
    <mat-card-title>
      <div class="fighter-names">
        <div class="fighter-name blue">
          {{ fight.fighterBlue.lastName }}
        </div>

        <div class="fighter-name red">
          {{ fight.fighterRed.lastName }}
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-subtitle class="weight-class">
    <span *ngIf="fight.fighterBlue.gender === 'FEMALE'">
      WOMEN'S
    </span>
    {{ fight.weightClass.split('_').join(' ') }}
  </mat-card-subtitle>

  <mat-card-content>
    <div class="fighters-images">
      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterBlue.imageURL"
        [alt]="fight.fighterBlue.lastName"
      />

      <img
        *ngIf="fight.fighterBlue.imageURL"
        [src]="fight.fighterRed.imageURL"
        [alt]="fight.fighterRed.lastName"
      />
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button
      mat-button
      (click)="openFight('network'); $event.stopPropagation()"
    >
      NETWORK
    </button>
    <button
      mat-button
      (click)="openFight('stats'); $event.stopPropagation()"
    >
      STATS
    </button>
    <button
      mat-button
      (click)="openFight('predictions'); $event.stopPropagation()"
    >
      PREDICTIONS
    </button>
    <button
      mat-button
      (click)="openFight('judging'); $event.stopPropagation()"
    >
      JUDGES
    </button>
  </mat-card-actions>
</mat-card>
