@use 'styles/tabs' as tabs;

:host {
  display: block;
}

.tiers-tabs {
  @include tabs.segmented-tabs(4);
}

.slider {
  @include tabs.segmented-tabs-slider(4);
}

.tab {
  @include tabs.segmented-tabs-tab;
}
