.stats-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 16px;
  row-gap: 32px;
  padding: 16px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.stat-label {
  justify-self: start;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  white-space: nowrap;
}

svg {
  width: 700px;
  height: 100px;
}
