<div class="stats-container">
  <span class="stat-label">Number of strikes attempted</span>
  <svg #numberOfStrikesAttempted></svg>
  <span></span>

  <span class="stat-label">Number of strikes landed</span>
  <svg #numberOfStrikesLanded></svg>
  <span></span>

  <span class="stat-label">Number of submissions attempted</span>
  <svg #numberOfSubmissionsAttempted></svg>
  <span></span>
  <span class="stat-label">Number of takedowns landed</span>
  <svg #numberOfTakedownsLanded></svg>
  <span></span>

  <span class="stat-label">Time spent in ground control</span>
  <svg #timeSpentInControl></svg>
  <span></span>
</div>
