<div class="stats-container" *ngIf="!loading()">
  <div class="stat-item">
    <span class="stat-label">Number of strikes attempted</span>
    <svg #numberOfStrikesAttempted></svg>
  </div>

  <div class="stat-item">
    <span class="stat-label">Number of strikes landed</span>
    <svg #numberOfStrikesLanded></svg>
  </div>

  <div class="stat-item">
    <span class="stat-label">Number of submissions attempted</span>
    <svg #numberOfSubmissionsAttempted></svg>
  </div>

  <div class="stat-item">
    <span class="stat-label">Number of takedowns landed</span>
    <svg #numberOfTakedownsLanded></svg>
  </div>

  <div class="stat-item">
    <span class="stat-label">Time spent in ground control</span>
    <svg #timeSpentInControl></svg>
  </div>
</div>
