.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 16px;
  width: 100%;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.stat-label {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  text-align: center;
}

svg {
  width: 800px;
  height: 80px;
}
