<div class="strawweight-container">
  <p>
    This tier consists of predictions on the most important performance metrics. Needless to say, the highest-density intervals of the predictions are included.
    Within this tier the following events are estimated:
  </p>
  <ul>
    <li>The number of significant strikes attempted by fighter <span class="fighter-red">red</span></li>
    <li>The number of significant strikes landed by fighter <span class="fighter-blue">blue</span></li>
    <li>The number of seconds in ground control by fighter <span class="fighter-blue">blue</span></li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/sign-up"> here</a> to register and automatically subscribe to the <b>Strawweight</b>-tier.
    </p>
  <p>
    This tier consists of 8 estimates. Explore the tree below to see all the estimates included.
  </p>
</div>

