<div class="strawweight-container">
  <p>
    This tier consists of predictions on the most important performance metrics. Within this tier the following events are modelled:
  </p>
  <ul>
    <li>The expected number of significant strikes landed by fighter <i>blue</i></li>
    <li>The expected number of seconds in ground control by fighter <i>blue</i></li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/sign-up"> here</a> to register and automatically subscribe to the <b>Strawweight</b>-tier.
    </p>
  <p>
    This tier consists of 8 estimates. Explore the tree below to see all the estimates included.
  </p>
</div>

