.login-container {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  text-align: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-form-field mat-icon {
  font-size: 15px;
  margin: 0 !important;
  align-self: center !important;
}

.login-form button[type="submit"] {
  font-family: "UFCSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  align-self: center;
  width: 20%;
  border: 1px solid rgba(100, 100, 100, 0.3);
  background-color: rgba(200, 200, 200, 0.3);
  color: rgb(50, 50, 50)
}

.login-form button[type="submit"]:hover {
  background-color: rgba(100, 100, 100, 0.3);
}
