<div class="middleweight-container">
  <p>
    This tier provides access to detailed predictions about the duration of the fight and round-by-round outcomes between the fighters.
   <br> The following estimates are within its scope:
  </p>
  <ul>
    <li>The probability that fighter <span class="fighter-blue">blue</span> wins in round 1</li>
    <li>The probability that fighter <span class="fighter-red">red</span> wins by a knockout in round 3</li>
    <li>The probability that the fight lasts more than 2.5 rounds</li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/pricing/middleweight"> here</a> to subscribe to the <b>Middleweight</b>-tier.
   </p>
  <p>
    There are <b>TBD</b> predictions included in this tier. Explore the tree below to see all the estimates included.
  </p>
</div>

