<div class="middleweight-container">
  <p>
    This tier provides access to detailed predictions about the duration of the fight and round-by-round outcomes between the fighters.
    It is intended for advanced bettors active in derivative and prop markets. <br>
    The following estimates are within its scope:
  </p>
  <ul>
    <li>The probability that fighter <i>blue</i> wins in round 1</li>
    <li>The probability that fighter <i>red</i> wins by a knockout in round 3</li>
    <li>The probability that the fight lasts more than 2.5 rounds</li>
    <li>The probability that the fight goes to the distance</li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/pricing/middleweight"> here</a> to subscribe to the <b>Middleweight</b>-tier.
   </p>
  <p>
    There are 64 predictions included in this tier. Explore the tree below to see all the estimates included.
  </p>
</div>

