@use 'styles/tabs' as tabs;

:host {
  display: block;
}

.fight-tabs {
  @include tabs.segmented-tabs(4);
  margin-top: 0;
  margin-bottom: 0;
}

.slider {
  @include tabs.segmented-tabs-slider(4);
}

.tab {
  @include tabs.segmented-tabs-tab;
}
