:host {
  display: block;
  position: relative;
}

.matrices-container {
  position: relative;
  cursor: ew-resize;
}

.deck {
  position: relative;
  display: inline-block;
}

.card {
  background: white;
}

.background-card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: calc(0 - var(--depth));
}

.background-card ::ng-deep .mat-mdc-table {
  border-image: linear-gradient(90deg, rgba(150, 150, 150, 0.3) 4px, #0000 0 calc(100% - 5px), rgba(150, 150, 150, 0.3) 0) 1/1.5px;
}

.background-card ::ng-deep .mat-mdc-cell {
  color: rgb(50, 50, 50);
}

.left-card {
  transform: translateX(calc(var(--depth) * -8px));
}

.right-card {
  transform: translateX(calc(var(--depth) * 8px));
}

.mirrored-card {
  transform: translateX(calc(var(--depth) * -8px));
}

.active-card {
  position: relative;
  z-index: 10;
}

