<mat-toolbar>

  <!-- App title -->
  <div class="logo-wrapper" (mouseenter)="onLogoHover()">
    <div class="logo"
         [class.ready]="isLogoReady() && !isHoverAnimating()"
         [class.animating]="isHoverAnimating()"
         (animationend)="onLogoAnimationEnd()">
    <i></i><i></i><i></i><i></i>
    <i></i><i></i><i></i><i></i>
    </div>
    <a class="logo-text" routerLink="/">
      MMARKOV
    </a>
  </div>

  <!-- Push navigation items to the right -->
  <span class="example-spacer"></span>

  <!-- EVENTS -->
  <button mat-button class="nav-item" routerLink="/events">
    EVENTS
  </button>

  <!-- ABOUT -->
  <button mat-button class="nav-item" routerLink="/about">
    ABOUT
  </button>

  <!-- TIERS -->
  <button mat-button class="nav-item" routerLink="/tiers">
    TIERS
  </button>

  <!-- PRICING -->
  <button mat-button class="nav-item" routerLink="/pricing">
    PRICING
  </button>

  <span class="example-spacer"></span>

  <!-- LOGIN / REGISTER -->
  <button mat-button class="auth-item" routerLink="/login">
    LOG IN
  </button>

  <button mat-button class="auth-item signup-item" routerLink="/sign-up">
    SIGN UP
  </button>

</mat-toolbar>
