
/* Main contact box */
.contact-container {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  text-align: center;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.contact-form textarea {
  font-weight: bold;
}

.contact-form button[type="submit"] {
  font-family: "UFCSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  align-self: center;
  width: 20%;
  border: 1px solid rgba(100, 100, 100, 0.3);
  background-color: rgba(200, 200, 200, 0.3);
  color: rgb(50, 50, 50)
}

.contact-form button[type="submit"]:hover {
  background-color: rgba(100, 100, 100, 0.3);
}


