<div class="fightcard-tabs">
  <div class="slider" [style.--active-index]="activeIndex()"></div>
  <a
    class="tab"
    [routerLink]="['early-prelim', 'fights']"
    [relativeTo]="route"
    routerLinkActive="active"
  >
    Early Prelim
  </a>
  <a
    class="tab"
    [routerLink]="['prelim', 'fights']"
    [relativeTo]="route"
    routerLinkActive="active"
  >
    Prelim
  </a>
  <a
    class="tab"
    [routerLink]="['main', 'fights']"
    [relativeTo]="route"
    routerLinkActive="active"
  >
    Main
  </a>
</div>
