@use 'styles/tabs' as tabs;

:host {
  display: block;
  view-transition-name: fightcard-tabs;
}

.fightcard-tabs {
  @include tabs.segmented-tabs(3);
}

.slider {
  @include tabs.segmented-tabs-slider(3);
}

.tab {
  @include tabs.segmented-tabs-tab;
  text-transform: uppercase;
}
