<div class="fightcard-tabs">
  <div class="slider" [style.--active-index]="activeIndex"></div>
  <button
    type="button"
    class="tab"
    [class.active]="activeTab() === 'early-prelim'"
    (click)="onTabClick('early-prelim')"
  >
    Early Prelim
  </button>
  <button
    type="button"
    class="tab"
    [class.active]="activeTab() === 'prelim'"
    (click)="onTabClick('prelim')"
  >
    Prelim
  </button>
  <button
    type="button"
    class="tab"
    [class.active]="activeTab() === 'main'"
    (click)="onTabClick('main')"
  >
    Main
  </button>
</div>
