.terms-and-conditions-container {
  width: 50vw;
  max-width: 50vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}
