<div class="backdrop" (click)="close()">
  <div class="page" (click)="$event.stopPropagation()">
    <button class="close-button" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="fight-container">
      <div class="fight-header">
        <div class="fighter-name blue">
          {{ fight?.fighterBlue?.lastName ?? fighterNameBlue }}
        </div>
        <div class="fighter-name red">
          {{ fight?.fighterRed?.lastName ?? fighterNameRed }}
        </div>
        <app-dual-progress-bar
          [loading]="loadingService.loading()"
        ></app-dual-progress-bar>
      </div>
    </div>

    <router-outlet></router-outlet>
    <app-fight-tabs></app-fight-tabs>
  </div>
</div>

