.page {
  --page-max-width: 1500px;

  position: relative;
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(100, 100, 100);
}

.close-button:hover {
  color: rgb(50, 50, 50);
}

.fight-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fight-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.fight-header app-dual-progress-bar {
  flex: 0 0 100%;
}

.fighter-name {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.fighter-name.blue {
  text-align: right;
  margin-left: 16px;
}

.fighter-name.red {
  text-align: left;
  margin-right: 16px;
}

app-fight-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
}
