.page {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgb(100, 100, 100);
  z-index: 10;
}

.close-button:hover {
  color: rgb(50, 50, 50);
}

.fight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fight-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fight-header app-dual-progress-bar {
  flex: 0 0 100%;
  width: 100%;
}


.fighter-name {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  min-height: 1.5rem;
  min-width: 100px;
}

.fighter-name.blue {
  margin-right: 575px;
  text-align: left;
}

.fighter-name.red {
  margin-left: 575px;
  text-align: right;
}


