<div class="network-container">
  <div class="network-buttons">
    <button mat-icon-button
      [class.active]="activePos() === 'circular'"
      (click)="onPosChange('circular')">
      <mat-icon>graph_5</mat-icon>
    </button>
    <span class="button-divider"></span>
    <button mat-icon-button
      [class.active]="activePos() === 'cluster'"
      (click)="onPosChange('cluster')">
      <mat-icon>graph_3</mat-icon>
    </button>
  </div>

  <div class="chart-container">
    <app-graph-data-chart
      [nodes]="nodes"
      [edges]="edges"
      [pos]="activePos()"
      (activeNodeId)="onActiveNodeIdChange($event)">
    </app-graph-data-chart>
  </div>

  <div class="data-container">
    <app-network-properties
      [properties]="properties"
      (propertySelect)="onPropertySelect($event)">
    </app-network-properties>

    <app-graph-data-table
      [data]="matchups"
      [activeNodeId]="activeNodeId()">
    </app-graph-data-table>
  </div>
</div>
