<div class="network-container">
  <div class="network-chart-buttons">
    <button mat-icon-button
      [class.active]="activePos() === 'circular'"
      (click)="onPosChange('circular')">
      <mat-icon>graph_5</mat-icon>
    </button>
    <span class="button-divider"></span>
    <button mat-icon-button
      [class.active]="activePos() === 'spring'"
      (click)="onPosChange('spring')">
      <mat-icon>graph_3</mat-icon>
    </button>
  </div>
  <div class="network-chart-container">
    <app-graph-data-chart
      class="network-chart"
      [nodes]="nodes"
      [edges]="edges"
      [pos]="activePos()"
      (activeNodeId)="onActiveNodeIdChange($event)">
    </app-graph-data-chart>
  </div>
  <div class="network-data-container">
    <app-graph-data-table
      class="network-table"
      [data]="matchups"
      [activeNodeId]="activeNodeId()"
      [hidden]="activePos() !== 'circular'">
    </app-graph-data-table>

    <app-network-properties
      [properties]="properties"
      [hidden]="activePos() !== 'spring'"
      (propertySelect)="onPropertySelect($event)">
    </app-network-properties>

    @if (activePos() === 'spring' && propertyDescription()) {
      <div class="property-description">
        {{ propertyDescription() }}
      </div>
    }
  </div>
</div>
