:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.network-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.network-chart-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.network-chart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.network-chart-buttons button {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
}

.network-chart-buttons button:hover {
  color: rgba(0, 0, 0, 0.7);
}

.network-chart-buttons button.active {
  color: rgba(0, 0, 0, 0.87);
}

.network-chart-buttons mat-icon {
  font-family: 'Material Symbols Outlined';
}

.network-data-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
  min-width: 0;
}

.network-chart {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  max-width: 100%;
}

.network-chart ::ng-deep svg {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.network-table {
  align-self: start;
}
