:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.network-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.network-chart {
  align-self: center;
  justify-self: center;
  margin-left: 10px;
}

.network-table {
  align-self: start;
  margin-right: 10px;
}
