<div class="page">
  <div class="tabs-and-search">
    <app-fightcard-tabs
      [activeTab]="activeTab()"
      (tabChange)="onTabChange($event)"
    ></app-fightcard-tabs>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <input matInput
             placeholder="Search ... "
             [value]="searchQuery()"
             (input)="onSearchInput($event)">
    </mat-form-field>
  </div>

  <ng-container *ngIf="!isLoading; else loading">
    <app-fight-list
      *ngIf="activeFights().length; else empty"
      [fights]="activeFights()"
      [eventId]="eventId"
      [fightCard]="activeTab()"
    ></app-fight-list>
  </ng-container>

  <ng-template #loading>
    <p>Loading fights…</p>
  </ng-template>

  <ng-template #empty>
    <p>No fights found</p>
  </ng-template>
</div>

<router-outlet></router-outlet>
