<div class="heavyweight-container">
  <p>
    This tier offers the most advanced level of inference.
    Fighter outcomes are predicted on a minute-level, performance metrics are finely dissected and judge-specific scoring is available.
    It is intended for professional bettors that seek the finest granular insights. <br>
    Examples of such insights are:
  </p>
  <ul>
    <li>The probability that fighter <i>red</i> wins by a knockout in first minute of round 3</li>
    <li>The probability that fighter <i>blue</i> has more strikes landed than fighter <i>red</i></li>
    <li>The probability that fighter <i>red</i> has more than 75 strikes landed</li>
    <li>The probability that fighter <i>blue</i> wins by unanimous decision</li>
    <li>The probability that judge <i>Sal d'Amato</i> assign a score of 50-45 to the fight</li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/pricing/heavyweight"> here</a> to subscribe to the <b>Heavyweight</b>-tier.
    </p>
  <p>
    In total, this tier consists of 210 predictions. Explore the tree below to see all the estimates included.
  </p>
</div>
