<div class="heavyweight-container">
  <p>
    Within this tier fight outcomes are predicted on a minute-level, performance metrics are finely dissected and judge-specific scoring is available.
    Examples of such insights are:
  </p>
  <ul>
    <li>The probability that fighter <span class="fighter-red">red</span> wins by a knockout in first minute of round 3</li>
    <li>The probability that fighter <span class="fighter-blue">blue</span> has more strikes landed than fighter <span class="fighter-red">red</span></li>
    <li>The probability that judge <i>Sal d'Amato</i> assign a score of 50-45 to the fight</li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/pricing/heavyweight"> here</a> to subscribe to the <b>Heavyweight</b>-tier.
    </p>
  <p>
    In total, this tier consists of 210 predictions. Explore the tree below to see all the estimates included.
  </p>
</div>
