:host {
  display: block;
  width: 100%;
}

.simulation-container {
  width: 100%;
  margin: 24px 0;
}

.state-list-container {
  overflow-x: auto;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  padding: 5px;
  max-width: 100%;
  background-color: white;
}

.state-list-container::-webkit-scrollbar {
  display: none;
}

.state-list {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
  width: max-content;
}

::ng-deep .state-list .mdc-evolution-chip-set__chips {
  display: flex !important;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
}

