<div class="lightweight-container">
  <p>This tier consists of predictions on core fight outcomes, including the expected winner, the method of victory and key performance metrics.
  <br>In this tier the following events are modelled:
  </p>
  <ul>
    <li>The probability that fighter <span class="fighter-blue">blue</span> wins</li>
    <li>The probability that fighter <span class="fighter-red">red</span> wins by a knockout</li>
    <li>The probability that fighter <span class="fighter-blue">blue</span> wins decision</li>
    <li>...</li>
  </ul>
  <p>
    Click <a routerLink="/pricing/lightweight"> here</a> to subscribe to the <b>Lightweight</b>-tier.
    </p>
  <p>
    This tier consists of 14 estimates. Explore the tree below to see all the estimates included.
  </p>
</div>

