<form
  class="reset-password-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
  novalidate
>
  <mat-form-field
    appearance="fill"
  >
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      #passwordInput
      [type]="hidePassword() ? 'password' : 'text'"
      formControlName="password"
      autocomplete="password"
    />
    @if ((passwordInput.value.length || 0) <= 12) {
    <mat-hint>
      Password must contain at least 12 characters
    </mat-hint>
    }
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword.set(!hidePassword())"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword()"
    >
      <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
  >
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      #confirmedPasswordInput
      [type]="hideConfirmedPassword() ? 'password' : 'text'"
      formControlName="confirmPassword"
      autocomplete="confirmed-password"
    />
    @if ((passwordInput.value) !== (confirmedPasswordInput.value)) {
    <mat-hint>
      Passwords must be equal
    </mat-hint>
    }
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hideConfirmedPassword.set(!hideConfirmedPassword())"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmedPassword()"
    >
      <mat-icon>{{hideConfirmedPassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>


  <button
    mat-button
    type="submit"
    [disabled]="submitting()"
  >
    SIGN UP
  </button>
  <div *ngIf="submitError() as e" class="error">
    {{ e }}
  </div>
</form>

