.event-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.stack {
  position: relative;
  height: 180px;
  width: 100%;
}

.stack-item {
  position: absolute;
  width: 100%;
  top: calc(var(--index) * 4px);
  left: calc(var(--index) * 4px);
  z-index: calc(10 - var(--index));
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: top left;
}

.stack-item.active {
  z-index: 20;
}

.stack-item.dismissed {
  transform: scale(0.96);
  opacity: 0.5;
  z-index: 0;
  cursor: pointer;
}

.stack-item.dismissed:hover {
  opacity: 0.7;
}

/* Navigation controls */
.controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.counter {
  font-size: 0.85rem;
  color: rgb(100, 100, 100);
  min-width: 50px;
  text-align: center;
}

.controls button[mat-icon-button] {
  color: rgb(100, 100, 100);
}

.controls button[mat-icon-button]:disabled {
  opacity: 0.3;
}

.controls button[mat-icon-button]:not(:disabled):hover {
  color: rgb(50, 50, 50);
}
