<mat-card class="event-card" [routerLink]="['/events', event.eventId, 'main', 'fights']">

  <div class="event-header">
    <h3 class="event-title">{{ event.name }}</h3>

    <div class="event-meta">
      <div class="event-date">{{ event.date | date }}</div>
      <div class="event-venue">{{ event.venue }}</div>
      <div class="event-location">{{ event.city }}, {{ event.country }}</div>
    </div>
  </div>
  <mat-card-actions>
    <a
      mat-button
      [routerLink]="['/events', event.eventId, 'early-prelim', 'fights']"
      (click)="$event.stopPropagation()"
    >
      EARLY PRELIM
    </a>
    <a
      mat-button
      [routerLink]="['/events', event.eventId, 'prelim', 'fights']"
      (click)="$event.stopPropagation()"
    >
      PRELIM
    </a>
        <a
      mat-button
      [routerLink]="['/events', event.eventId, 'main', 'fights']"
      (click)="$event.stopPropagation()"
    >
      MAIN
    </a>
  </mat-card-actions>

</mat-card>
