<mat-card class="event-card">

  <div class="event-meta">
    <div class="event-venue">{{ event.venue }}</div>
    <div class="event-location">{{ event.city }}, {{ event.country }}</div>
  </div>

  <mat-card-actions>
    <a mat-button [routerLink]="['/events', event.eventId, 'early-prelim']">
      EARLY PRELIM
    </a>
    <a mat-button [routerLink]="['/events', event.eventId, 'prelim']">
      PRELIM
    </a>
    <a mat-button [routerLink]="['/events', event.eventId, 'main']">
      MAIN
    </a>
  </mat-card-actions>

</mat-card>
